/** _____________________________________________ BODY **/
/** _____________________________________________ NAV **/
.navbar .add {
  display: none;
}
.navbar .add span {
  padding-left: 4px;
}

.navbar .sort-links .btn-group {
  margin-top: 0;
}

/** _____________________________________________ LIST **/
.container-fluid.override {
  text-align: center;
  padding: 0 10px;
}

.container-list {
  min-height: 60px;
  text-align: left;
  margin: 0 auto;
}

.list {
  display: none;
}
.list .list-hide {
  display: none;
}

.withCover dl {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 6px 4px;
  width: calc(100% - 8px);
  height: calc(100% - 12px);
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.withCover .item {
  position: relative;
  float: left;
  /* to avoid white-space madness */
  background-size: 100% 100%;
  display: block;
}

/** _____________________________________________ LIST ITEM DIMESIONS **/
@media screen and (min-width: 1400px) {
  body {
    padding-top: 40px;
  }

  .withCover .item {
    width: 312px;
    height: 416px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  body {
    padding-top: 40px;
  }

  .withCover .item {
    width: 273px;
    height: 364px;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  body {
    padding-top: 40px;
  }

  .withCover .item {
    width: 234px;
    height: 312px;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 40px;
  }

  .withCover .item {
    width: 195px;
    height: 260px;
  }
}
@media screen and (max-width: 767px) {
  .withCover .item {
    width: 468px;
    height: 624px;
  }
}
@media screen and (max-width: 480px) {
  .container-fluid.override {
    padding: 0;
  }

  .navbar .add span {
    display: none;
  }

  .withCover .item {
    width: 273px;
    height: 364px;
  }

  .filter-form .input-append select {
    display: inline-block;
    width: calc(100% - 42px);
  }
  .filter-form .input-append .span2 {
    width: 141px;
  }

  .filters {
    left: -46px;
  }

  .sorts {
    left: -58px;
  }

  .navbar .nav > li > .dropdown-menu.filters:after {
    left: 62px;
  }

  .navbar .nav > li > .dropdown-menu.sorts:after {
    left: 74px;
  }

  .sort-links .btn {
    display: block;
  }
}
/** _____________________________________________ FILTERS & SORTS **/
.dropdown-menu.filters,
.dropdown-menu.sorts {
  padding: 15px;
}

.sort-links {
  display: none;
  white-space: nowrap;
}
.sort-links label {
  margin-top: 5px;
}

.filter-form {
  display: none;
}
.filter-form .span2 {
  width: 212px;
}

/** _____________________________________________ EDIT FORM **/
.edit-form .cover-status {
  width: 156px;
  padding: 4px 6px;
  margin: 0;
}

.control-group .help-inline {
  padding-top: 5px;
  margin-bottom: 5px;
}

.control-group.success .well {
  border-color: #d6e9c6;
  color: #468847;
}
.control-group.error .well {
  border-color: #eed3d7;
  color: #b94a48;
}
.control-group.upload .well {
  border-color: #bce8f1;
  color: #3a87ad;
}

.form-horizontal .controls .help-block {
  clear: left;
}

.modal.with-cover {
  width: 760px;
  margin-left: -380px;
}
.modal.with-cover .form-horizontal .control-label {
  width: 85px;
  padding-right: 10px;
}
.modal.with-cover .form-horizontal .controls {
  margin-left: 95px;
}

/** _____________________________________________ DROP OVERLAY **/
#drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: none repeat scroll 0 0 #424242;
}

#drop-overlay h1 {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 10em;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
}

/** _____________________________________________ DETAIL MODAL **/
.modal-detail .detail {
  display: none;
}
