/** _____________________________________________ BODY **/
body {
  padding-top: 41px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

/** _____________________________________________ NAV **/
.navbar .add {
  display: none;
}
.navbar .add span {
  padding-left: 4px;
}
@media screen and (max-width: 480px) {
  .navbar .add span {
    display: none;
  }
}

.navbar .sort-links .btn-group {
  margin-top: 0;
}

.navbar .container-fluid > .nav {
  float: right;
}
@media (max-width: 979px) {
  .navbar .container-fluid > .nav {
    float: none;
  }
}

.pagination {
  margin-bottom: 0;
}

/** _____________________________________________ LIST **/
.container-fluid.override {
  text-align: center;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .container-fluid.override {
    padding: 0;
  }
}

.container-list {
  min-height: 60px;
  text-align: left;
  margin: 0 auto;
}

.list {
  display: none;
}
.list .list-hide {
  display: none;
}
.list .item {
  float: left;
  /* to avoid white-space madness */
  display: block;
  padding: 4px 6px;
  margin: 4px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}
.list .item span {
  display: inline-block;
  line-height: 26px;
  color: #eeeeee;
}
.list .item span .btn-group {
  margin-left: 10px;
}
.list hr {
  display: block;
  clear: left;
  padding: 16px 0 0;
  margin: 0 0 16px;
  height: 1px;
  border-width: 0 0 1px;
}
@media screen and (max-width: 480px) {
  .list .icon-star,
  .list .icon-star-empty {
    display: none;
  }
}

#list_storage .item span {
  width: 315px;
}
@media screen and (max-width: 480px) {
  #list_storage .item span {
    width: auto;
  }
}

.withCover dl {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 6px 4px;
  width: calc(100% - 8px);
  height: calc(100% - 12px);
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.withCover .item {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  background-size: 100% 100%;
}
.withCover .item:hover dl {
  display: block;
}

/** _____________________________________________ LIST ITEM DIMENSIONS **/
@media screen and (min-width: 1400px) {
  .withCover .item {
    width: 312px;
    height: 416px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .withCover .item {
    width: 273px;
    height: 364px;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  .withCover .item {
    width: 234px;
    height: 312px;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .withCover .item {
    width: 195px;
    height: 260px;
  }
}
@media screen and (max-width: 767px) {
  .withCover .item {
    width: 468px;
    height: 624px;
  }
}
@media screen and (max-width: 480px) {
  .withCover .item {
    width: 273px;
    height: 364px;
  }
}

@media screen and (min-width: 1400px) {
  #list_album .item {
    width: 312px;
    height: 312px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #list_album .item {
    width: 273px;
    height: 273px;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  #list_album .item {
    width: 234px;
    height: 234px;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  #list_album .item {
    width: 195px;
    height: 195px;
  }
}
@media screen and (max-width: 767px) {
  #list_album .item {
    width: 468px;
    height: 468px;
  }
}
@media screen and (max-width: 480px) {
  #list_album .item {
    width: 273px;
    height: 273px;
  }
}

/** _____________________________________________ FILTERS & SORTS **/
.dropdown-menu.filters,
.dropdown-menu.sorts {
  padding: 15px;
}

.sort-links {
  display: none;
  white-space: nowrap;
}
.sort-links label {
  margin-top: 5px;
}

.filter-form {
  display: none;
}
.filter-form .span2 {
  width: 212px;
}
@media screen and (max-width: 480px) {
  .filter-form .input-append select {
    display: inline-block;
    width: calc(100% - 42px);
  }
  .filter-form .input-append .span2 {
    width: 141px;
  }
}

.filters,
.sorts {
  left: auto;
  right: 0;
}

.navbar .nav > li > .dropdown-menu.filters:after, .navbar .nav > li > .dropdown-menu.sorts:after {
  left: auto;
  right: 16px;
}

@media screen and (max-width: 480px) {
  .sort-links .btn {
    display: block;
  }
}

/** _____________________________________________ EDIT FORM **/
.edit-form .cover-status {
  width: 156px;
  padding: 4px 6px;
  margin: 0;
}

.control-group .help-inline {
  padding-top: 5px;
  margin-bottom: 5px;
}

.control-group.success .well {
  border-color: #d6e9c6;
  color: #468847;
}
.control-group.error .well {
  border-color: #eed3d7;
  color: #b94a48;
}
.control-group.upload .well {
  border-color: #bce8f1;
  color: #3a87ad;
}

.form-horizontal .controls .help-block {
  clear: left;
}

.modal.with-cover {
  width: 760px;
  margin-left: -380px;
}
.modal.with-cover .form-horizontal .control-label {
  width: 85px;
  padding-right: 10px;
}
.modal.with-cover .form-horizontal .controls {
  margin-left: 95px;
}

.stars {
  padding-top: 5px;
  margin-bottom: 5px;
  direction: rtl;
  text-align: left;
}
.stars label {
  display: inline-block;
  margin: 0;
}
.stars .full {
  display: none;
}
.stars input {
  display: none;
}
.stars input:checked ~ .empty {
  display: none;
}
.stars input:checked ~ .full {
  display: inline-block;
}

/** _____________________________________________ DROP OVERLAY **/
#drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: none repeat scroll 0 0 #424242;
}

#drop-overlay h1 {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 10em;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
}

/** _____________________________________________ DETAIL MODAL **/
.modal-detail .detail-hide {
  display: none;
}

/** _____________________________________________ IMPACT FORM **/
.impact-form ul {
  -webkit-columns: 2;
  -moz-columns: 2;
  -o-columns: 2;
  columns: 2;
}
.impact-form ul input {
  position: relative;
  top: -3px;
}
