<script type="text/html" id="list_band_tmpl">
<%	var item, i, id;

	for( i = 0; i < list.length; i += 1 ){
		item = list[i];
	%>
		<article class="item">
			<span>
				<div class="btn-group pull-right">
					<% if( item.bandWebSite !== null ){ %>
					<a class="btn btn-info btn-mini last-check-date" href="<%=item.bandWebSite%>" target="_blank" data-manage="band" data-itemId="<%=item.bandID%>">
						<i class="icon-link"></i>
					</a>
					<% } %>

					<button class="btn edit btn-warning btn-mini"
						data-toggle="modal" data-target="#edit_band" data-manage="band"
						data-itemId="<%=item.bandID%>"
					>
						<i class="icon-edit"></i>
					</button>

					<button class="btn delete btn-danger btn-mini"
						data-toggle="modal" data-target=".delete-modal" data-manage="band"
						data-itemId="<%=item.bandID%>"
					>
						<i class="icon-trash"></i>
					</button>
				</div>

				<%=item.bandName%>
			</span>
		</article>
	<% } %>
</script>

