<script type="text/html" id="list_book_tmpl">
<%	var item, i, j, url, id, author,
		partsToHide = {
			authors: false,
			size: false,
			loan: false
		},
		shrinkActions = false;

	if( matchMedia('screen and (max-width: 480px)').matches ){
		partsToHide.authors = true;
		partsToHide.size = true;
		partsToHide.loan = true;

		if( matchMedia('screen and (orientation: portrait)').matches ){
			shrinkActions = true;
		}
	}
	for( i = 0; i < list.length; i += 1 ){
		item = list[i];
		url = getFullUrl('image.php?cover=book&id=', item.bookID);
	%>
		<article class="item" style="background-image: url(<%=url%>);">
			<img src="<%=url%>" class="list-hide">
			<dl>
				<dt>Titre</dt>
				<dd><%=item.bookTitle%></dd>

				<% if( item.sagaTitle !== null ){ %>
					<dt>Saga</dt>
					<dd>
						<%=item.sagaTitle%> - <%=item.bookSagaPosition%> / <%=item.bookSagaSize%>
						<button class="btn btn-mini btn-info filter"
							data-filter="saga" data-value="<%=item.sagaTitle%>"
						><i class="icon-search"></i></button>
					</dd>
				<% } %>

				<dt class="<% if( partsToHide.authors ) { %>list-hide<% } %>">Auteur<% if( item.authors.length > 1 ){ %>s<% } %></dt>
				<%  j = 0;
					for( id in item.authors ){
						if( item.authors.hasOwnProperty(id) ){
							author = item.authors[ id ];
				%>
					<dd class="<% if( partsToHide.authors || j > 3 ){ %>list-hide<% } %>">
						<%=author.authorFirstName%> <%=author.authorLastName%>
						<button class="btn btn-mini btn-info filter"
							data-filter="author" data-value="<%=author.authorFirstName%> <%=author.authorLastName%>"
						><i class="icon-search"></i></button>

					</dd>
					<%  }
						j++;
					} %>

				<dt class="<% if( partsToHide.size ) { %>list-hide<% } %>">Format</dt>
				<dd class="<% if( partsToHide.size ) { %>list-hide<% } %>"><%=item.bookSize%></dd>

				<dt>Rangement</dt>
				<dd>
					<%=item.storageRoom%> - <%=item.storageType%>
					<% if( item.storageColumn !== null || item.storageLine !== null ){ %>
						- <%=item.storageColumn%><%=item.storageLine%>
					<% } %>

					<% if( item.sagaTitle !== null && item.storageRoom == 'aucun' ){ %>
						<button class="btn store btn-warning btn-mini list-hide"
							data-toggle="modal" data-target=".store-modal" data-manage="book"
							data-itemId="<%=item.bookID%>" data-sagaID="<%=item.sagaID%>"
							title="Ranger avec la saga"
						><i class="icon-inbox"></i></button>
					<% } %>

					<button class="btn btn-mini btn-info filter"
						data-filter="storage" data-value="<%=item.storageID%>"
					><i class="icon-search"></i></button>

					<% if( item.storageColumn !== null || item.storageLine !== null ){
						url = getFullUrl('storage/'+ item.storageRoom.urlify() +'_'+ item.storageType.urlify() +'_'+ item.storageColumn + item.storageLine +'.png', '');
					%>
						<button class="btn storage-picture btn-info btn-mini"
							data-toggle="lightbox" data-target="#lightbox" data-src="<%=url%>"
							title="Voir la photo du rangement"
						><i class="icon-map-marker"></i></button>
					<% } %>
				</dd>

				<% if( item.loanHolder !== null ){ %>
					<dt class="<% if( partsToHide.loan ) { %>list-hide<% } %>">Prêt</dt>
					<dd class="<% if( partsToHide.loan ) { %>list-hide<% } %>">
						<%=item.loanHolder%> - <%=item.loanDate%>
						<button class="btn delete btn-danger dtn-small list-hide"
							data-toggle="modal" data-target=".delete-modal" data-manage="loan"
							data-itemId="<%=item.bookID%>"
							title="Supprimer le prêt"
						><i class="icon-trash"></i></button>
						<button class="btn btn-mini btn-info filter"
							data-filter="loan" data-value="<%=item.loanHolder%>"
						><i class="icon-search"></i></button>
					</dd>
				<% } %>

				<dt>Actions</dt>
				<dd>
					<div class="btn-group">
						<button class="btn detail btn-info btn-mini" data-toggle="modal" data-target=".detail-modal" data-manage="book">
							<i class="icon-eye-open"></i>
							<% if( !shrinkActions ){ %>Détail<% } %>
						</button>

						<button class="btn edit btn-warning btn-mini"
							data-toggle="modal" data-target="#edit_book" data-manage="book"
							data-itemId="<%=item.bookID%>"
						>
							<i class="icon-edit"></i>
							<% if( !shrinkActions ){ %>Modifier<% } %>
						</button>

						<button class="btn delete btn-danger btn-mini"
							data-toggle="modal" data-target=".delete-modal" data-manage="book"
							data-itemId="<%=item.bookID%>"
						>
							<i class="icon-trash"></i>
							<% if( !shrinkActions ){ %>Supprimer<% } %>
						</button>

						<button class="btn add btn-info btn-mini"
							data-toggle="modal" data-target="#edit_loan" data-manage="loan"
							data-itemId="<%=item.bookID%>" data-relation="book"
						>
							<i class="icon-user"></i>
							<% if( !shrinkActions ){ %>Prêt<% } %>
						</button>
					</div>
				</dd>
			</dl>
		</article>
	<% } %>
</script>

