<script type="text/html" id="list_movie_tmpl">
<%
	var item, i, j, url, id, artist;
	for( i = 0; i < list.length; i += 1 ){
		item = list[i];
		url = getFullUrl('image.php?cover=movie&id=', item.movieID);
	%>
		<article class="item" style="background-image: url(<%=url%>);">
			<img src="<%=url%>" class="list-hide">
			<dl>
				<dt>Titre</dt>
				<dd><%=item.movieTitle%></dd>

				<% if( item.sagaTitle !== null ){ %>
					<dt>Saga</dt>
					<dd>
						<%=item.sagaTitle%> - <%=item.movieSagaPosition%> / <%=item.movieSagaSize%>
						<button class="btn btn-small btn-info filter"
							data-filter="saga" data-value="<%=item.sagaTitle%>"
						><i class="icon-search"></i></button>
					</dd>
				<% } %>

				<dt>Artiste<% if( item.artists.length > 1 ){ %>s<% } %></dt>
				<%  j = 0;
					for( id in item.artists ){
						if( item.artists.hasOwnProperty(id) ){
							artist = item.artists[ id ];
				%>
					<dd class="<% if( j > 2 ){ %>list-hide<% } %>">
						<%=artist.artistFirstName%> <%=artist.artistLastName%>
						<button class="btn btn-small btn-info filter"
							data-filter="artist" data-value="<%=artist.artistFirstName%> <%=artist.artistLastName%>"
						><i class="icon-search"></i></button>

					</dd>
					<%  }
						j++;
					} %>

				<dt>Genre</dt>
				<dd><%=item.movieGenre%></dd>

				<dt class="list-hide">Format</dt>
				<dd class="list-hide"><%=item.movieMediaType%></dd>

				<dt class="list-hide">Durée</dt>
				<dd class="list-hide"><%=item.movieLength%> min</dd>

				<dt>Rangement</dt>
				<dd>
					<%=item.storageRoom%> - <%=item.storageType%>
					<% if( item.storageColumn !== null || item.storageLine !== null ){ %>
						- <%=item.storageColumn%><%=item.storageLine%>
					<% } %>
					<div class="btn-group list-hide">
						<% if( item.storageColumn !== null || item.storageLine !== null ){ %>
							<button class="btn storage-picture btn-info btn-small"
								data-toggle="modal" data-target="#storage_picture" data-manage="movie"
								data-storageID="<%=item.storageID%>"
								title="Voir la photo du rangement"
							><i class="icon-map-marker"></i></button>
						<% } %>
						<% if( item.sagaTitle !== null && item.storageRoom == 'aucun' ){ %>
							<button class="btn store btn-warning btn-small"
								data-toggle="modal" data-target="#store_movie" data-manage="movie"
								data-itemId="<%=item.movieID%>" data-sagaID="<%=item.sagaID%>"
								title="Ranger avec la saga"
							><i class="icon-inbox"></i></button>
						<% } %>
					</div>
					<button class="btn btn-small btn-info filter"
						data-filter="storage" data-value="<%=item.storageID%>"
					><i class="icon-search"></i></button>
				</dd>

				<% if( item.loanHolder !== null ){ %>
					<dt>Prêt</dt>
					<dd>
						<%=item.loanHolder%> - <%=item.loanDate%>
						<button class="btn delete btn-danger dtn-small list-hide"
							data-toggle="modal" data-target="#delete_loan" data-manage="loan"
							data-itemId="<%=item.movieID%>"
							title="Supprimer le prêt"
						><i class="icon-trash"></i></button>
						<button class="btn btn-small btn-info filter"
							data-filter="loan" data-value="<%=item.loanHolder%>"
						><i class="icon-search"></i></button>
					</dd>
				<% } %>

				<dt>Actions</dt>
				<dd>
					<div class="btn-group">
						<button class="btn detail btn-info btn-small" data-toggle="modal" data-target="#detail_movie" data-manage="movie">
							<i class="icon-eye-open"></i> Détail
						</button>

						<button class="btn edit btn-warning btn-small"
							data-toggle="modal" data-target="#edit_movie" data-manage="movie"
							data-itemId="<%=item.movieID%>"
						><i class="icon-edit"></i> Modifier</button>

						<button class="btn delete btn-danger btn-small"
							data-toggle="modal" data-target="#delete_movie" data-manage="movie"
							data-itemId="<%=item.movieID%>"
						><i class="icon-trash"></i> Supprimer</button>

						<button class="btn add btn-info btn-small"
							data-toggle="modal" data-target="#edit_loan" data-manage="loan"
							data-itemId="<%=item.movieID%>" data-relation="movie"
						><i class="icon-user"></i> Prêt</button>
					</div>
				</dd>
			</dl>
		</article>
	<% } %>
</script>

