<script type="text/html" id="list_saga_tmpl">
<%	var item, i, id;

	for( i = 0; i < list.length; i += 1 ){
		item = list[i];
	%>
		<article class="item">
			<span>
				<div class="btn-group pull-right">
					<% if( item.sagaSearchURL !== null ){ %>§
					<a class="btn btn-info btn-small" href="<%=item.sagaSearchURL%>" target="_blank">
						<i class="icon-link"></i>
					</a>
					<% } %>

					<button class="btn delete btn-warning btn-small"
						data-toggle="modal" data-target="#delete_saga" data-manage="saga"
						data-itemId="<%=item.sagaID%>"
					>
						<i class="icon-download-alt"></i>
					</button>

					<button class="btn edit btn-warning btn-small"
						data-toggle="modal" data-target="#edit_saga" data-manage="saga"
						data-itemId="<%=item.sagaID%>"
					>
						<i class="icon-edit"></i>
					</button>

					<button class="btn delete btn-danger btn-small"
						data-toggle="modal" data-target="#delete_saga" data-manage="saga"
						data-itemId="<%=item.sagaID%>"
					>
						<i class="icon-trash"></i>
					</button>
				</div>

				<%=item.sagaTitle%>

				<% for( j = 1; j <= item.sagaRating; j += 1 ){ %>
					<i class="icon-star"></i>
				<% } %>
				<% for( j = item.sagaRating; j <= 5; j += 1 ){ %>
					<i class="icon-star-empty"></i>
				<% } %>
			</span>
		</article>
	<% } %>
</script>

