<div id="delete_loan" class="modal hide fade">
	<div class="modal-header">
		<button class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></button>
		<h3>Deletion confirmation</h3>
	</div>
	<div class="modal-body">
		<form id="loan_delete_form" name="loan_form" method="post" action="" class="delete-form" data-manage="loan">
			<input type="hidden" id="loanAction" name="action" value="delete" />
			<input type="hidden" id="loanID" name="id" value="" />

			<p class="lead">
				Are your sure ?
			</p>
		</form>
	</div>
	<div class="modal-footer">
		<button type="reset" class="btn btn-warning" data-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-primary" form="loan_delete_form">Confirm</button>
	</div>
</div>
