<div id="delete_storage" class="modal hide fade">
	<div class="modal-header">
		<button class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></button>
		<h3>Confirmation de suppression</h3>
	</div>
	<div class="modal-body">
		<form id="storage_delete_form" name="storage_form" method="post" action="" class="delete-form" data-manage="storage">
			<input type="hidden" id="storageAction" name="action" value="delete" />
			<input type="hidden" id="storageID" name="id" value="" />

			<p class="impact">
			</p>


			<p class="lead">
				Êtes-vous sûre ?
			</p>
		</form>
	</div>
	<div class="modal-footer">
		<button type="reset" class="btn btn-warning" data-dismiss="modal">Annuler</button>
		<button type="submit" class="btn btn-primary" form="storage_delete_form">Confirmer</button>
	</div>
</div>
