<div id="store_book" class="modal hide fade">
	<div class="modal-header">
		<button class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></button>
		<h3>Confirmation de rangement</h3>
	</div>
	<div class="modal-body">
		<form id="book_store_form" name="book_form" method="post" action="" class="store-form" data-manage="book">
			<input type="hidden" name="action" value="store" />
			<input type="hidden" name="id" value="" />
			<input type="hidden" name="storageId" value="" />

			<p>
				Le livre sera rangé dans &laquo;<span class="storage-description"></span>&raquo;
			</p>
			<p class="lead">
				Êtes-vous sûre ?
			</p>
		</form>
	</div>
	<div class="modal-footer">
		<button type="reset" class="btn btn-warning" data-dismiss="modal">Annuler</button>
		<button type="submit" class="btn btn-primary" form="book_store_form">Confirmer</button>
	</div>
</div>

