<div class="modal hide fade detail-modal" data-manage="">
	<div class="modal-header">
		<button class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></button>
		<h3>
			Détail
			<span class="album">de l'album</span>
			<span class="alcohol">de l'alcool</span>
			<span class="book">du livre</span>
			<span class="movie">du film</span>
			<span class="storage">du rangement</span>
		</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span5 cover"></div>
			<div class="span7 data"></div>
		</div>
	</div>
</div>

