<div id="edit_album" class="modal hide fade modal-edit with-cover">
	<div class="modal-header">
		<button class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></button>
		<h3>Formulaire de gestion des albums</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span4">
				<span class="cover-preview"></span>
			</div>
			<div class="span8">
				<form id="album_form" name="album_form" method="post" action="" class="edit-form form-horizontal" data-manage="album">
					<input type="hidden" id="albumAction" name="action" value="" />
					<input type="hidden" id="albumID" name="id" value="" />
					<div class="control-group">
						<label class="control-label" for="albumTitle">Titre *</label>
						<div class="controls">
							<div class="quicklink-append">
								<input type="text" id="albumTitle" name="title" class="control input-large title" value="" placeholder="titre de l'album" required autocomplete="off">
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="albumCoverStatus">Couverture</label>
						<div class="controls">
							<input type="hidden" id="albumCover" name="cover" class="" value="" />
							<div id="albumCoverStatus" class="cover-status control well input-large">
								<i class="icon-picture"></i> Déposer l'image
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="albumStorage">Rangement *</label>
						<div class="controls">
							<select id="albumStorage" name="storage" class="control input-large" required autocomplete="off">
								<option value="">Choississez</option>
							</select>
						</div>
					</div>
					<div class="control-group another" id="albumBands">
						<label class="control-label" for="albumBand_1">Groupe(s) *</label>
						<div class="controls">
							<div class="input-append">
								<input type="text" id="albumBand_1" name="author_1" class="control input-large" list="albumBandList" placeholder="nom du groupe" required autocomplete="off">
								<button class="btn btn-warning delete-another" title="Supprimer cet groupe"><i class="icon-trash"></i></button>
							</div>
						</div>
					</div>
					<datalist id="albumBandList">
						<option value="">Groupes déjà présents</option>
					</datalist>
					<div class="control-group">
						<div class="controls">
							<button class="btn add-another"><i class="icon-plus-sign"></i> Ajouter un autre groupe</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="reset" class="btn btn-warning" data-dismiss="modal">Annuler</button>
		<button type="submit" class="btn btn-primary" form="album_form">Enregistrer</button>
	</div>
</div>
