<div id="edit_loan" class="modal hide fade modal-edit">
	<div class="modal-header">
		<button class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></button>
		<h3>Formulaire de gestion des prêts</h3>
	</div>
	<div class="modal-body">
		<form id="loan_form" name="loan_form" method="post" action="" class="edit-form form-horizontal" data-manage="loan">
			<input type="hidden" id="loanAction" name="action" value="" />
			<input type="hidden" id="loanFor" name="for" value="" />
			<input type="hidden" id="itemID" name="id" value="" />
			<div class="control-group">
				<label class="control-label" for="loanHolder">Prêté à *</label>
				<div class="controls">
					<input type="text" id="loanHolder" name="holder" class="control input-large" value="" placeholder="Nom" required autocomplete="off">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="reset" class="btn btn-warning" data-dismiss="modal">Annuler</button>
		<button type="submit" class="btn btn-primary" form="loan_form">Enregistrer</button>
	</div>
</div>
